<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Main Menu -->
        <menuitem id="menu_qlvb_root"
            name="Quản lý văn bản"
            web_icon="quan_ly_van_ban,static/description/icon.png"
            sequence="26"/>
        
        <!-- Sub Menu: Văn bản cơ bản -->
        <menuitem id="menu_van_ban_co_ban"
            name="Văn bản cơ bản"
            parent="menu_qlvb_root"
            sequence="5"/>
        
        <menuitem id="menu_van_ban_den"
            name="Văn bản đến"
            parent="menu_van_ban_co_ban"
            action="action_van_ban_den"
            sequence="1"/>
        
        <menuitem id="menu_van_ban_di"
            name="Văn bản đi"
            parent="menu_van_ban_co_ban"
            action="action_van_ban_di"
            sequence="2"/>
        
        <!-- Sub Menu: Hợp đồng -->
        <menuitem id="menu_hop_dong"
            name="Hợp đồng"
            parent="menu_qlvb_root"
            action="action_hop_dong"
            sequence="10"/>
        
        <!-- Sub Menu: Báo giá -->
        <menuitem id="menu_bao_gia"
            name="Báo giá"
            parent="menu_qlvb_root"
            action="action_bao_gia"
            sequence="20"/>
        
        <!-- Sub Menu: Tài liệu số hóa -->
        <menuitem id="menu_tai_lieu"
            name="Tài liệu số hóa"
            parent="menu_qlvb_root"
            action="action_tai_lieu"
            sequence="30"/>
        
        <!-- Sub Menu: Danh mục -->
        <menuitem id="menu_danh_muc"
            name="Danh mục"
            parent="menu_qlvb_root"
            sequence="100"/>
        
        <menuitem id="menu_loai_van_ban"
            name="Loại văn bản"
            parent="menu_danh_muc"
            action="action_loai_van_ban"
            sequence="1"/>
    </data>
</odoo>
